apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: fayol-ai-models-pvc
  labels:
    app: fayol-python-ai
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: standard
