apiVersion: v1
kind: Service
metadata:
  name: fayol-python-ai
  labels:
    app: fayol-python-ai
    tier: ai
spec:
  type: ClusterIP
  ports:
  - port: 8000
    targetPort: 8000
    protocol: TCP
    name: http
  selector:
    app: fayol-python-ai
