apiVersion: v1
kind: Service
metadata:
  name: fayol-bi-reports
  labels:
    app: fayol-bi-reports
    tier: bi
spec:
  type: ClusterIP
  ports:
  - port: 8001
    targetPort: 8001
    protocol: TCP
    name: http
  selector:
    app: fayol-bi-reports
