apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - service.yaml
  - hpa.yaml

commonLabels:
  app.kubernetes.io/name: fayol-web-app
  app.kubernetes.io/component: frontend
  app.kubernetes.io/part-of: fayol
