apiVersion: v1
kind: Service
metadata:
  name: fayol-web-app
  labels:
    app: fayol-web-app
    tier: frontend
spec:
  type: ClusterIP
  ports:
  - port: 3000
    targetPort: 3000
    protocol: TCP
    name: http
  selector:
    app: fayol-web-app
